<div class="col-md-10 offset-md-1 mt-5 mb-5">
    <div class="card bg-light">
        <div class="card-body">
            <h3>About </h3>
            <p>This application is intended to manage the push notifications which are arriving on the mobile
                application.</p>
            <p>The login user may have an admin role or may be just a regular user. Only the admin users have access to
                the administration section of the application and can create or delete regular users.</p>
            <p>All authenticated users have access to the home page, where they can view the default notification
                message and can create or delete new custom notification messages. </p>
        </div>
    </div>
</div>