<div class="col-md-12 mt-3 mb-5">
    <h4 class="mx-2 mb-3">Notification Messages </h4>
    <div class="row">
        <div class="card col-12 col-md-12 mb-2 bg-light">
            <h5 class="mx-2 mt-1">Default Messages (Read-Only)</h5>
            <div class="card-body">
                <div class="col-xs-12 col-lg-12">
                    <table class="table small table-sm">
                        <thead class="text-white bg-info">
                            <tr>
                                <th>Title </th>
                                <th>Message Body</th>
                                <th>Create Date</th>
                                <th>Create By</th>
                                <th>Deep Link Action</th>
                                <th>Importance Level</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let message of defaultMessages | async">
                                <td> {{message.title}}</td>
                                <td> {{message.messageBody}}</td>
                                <td> {{message.createDate | date:'medium'}}</td>
                                <td> {{message.createBy}}</td>
                                <td> {{message.deepLinkAction}}</td>
                                <td> {{message.importanceLevel}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card col-12 col-md-12 mb-2 bg-light">
            <h5 class="mx-2 mt-1">Custom Messages</h5>
            <div class="card-body">
                <div class="col-xs-12 col-lg-12">
                    <table class="table small table-sm">
                        <thead class="text-white bg-info">
                            <tr>
                                <th>Title </th>
                                <th>Message Body</th>
                                <th>Create Date</th>
                                <th>Create By</th>
                                <th>Deep Link Action</th>
                                <th>Importance Level</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let message of customMessages | async">
                                <td> {{message.title}}</td>
                                <td> {{message.messageBody}}</td>
                                <td> {{message.createDate | date:'medium'}}</td>
                                <td> {{message.createBy}}</td>
                                <td> {{message.deepLinkAction}}</td>
                                <td> {{message.importanceLevel}}</td>
                                <td> <button type="button" class="btn btn-sm py-0  btn-danger"
                                        (click)="onDeleteMessage(message)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card col-12 col-md-12 mb-5 bg-light">
            <h5 class="mx-2 mt-1">Create Custom Notification Message</h5>
            <div class="card-body">
                <form class="small" [formGroup]="createNotificationMessageForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="form-group col-3">
                            <label for="title">Title*</label>
                            <input type="text" formControlName="title" class="form-control form-control-sm"
                                [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                            <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                                <div *ngIf="submitted && f.title.errors.required">Title is required</div>
                            </div>
                        </div>
                        <div class="form-group col-3">
                            <label for="messageBody">Message Body*</label>
                            <input type="text" formControlName="messageBody" class="form-control form-control-sm"
                                [ngClass]="{ 'is-invalid': submitted && f.messageBody.errors }" />
                            <div *ngIf="submitted && f.messageBody.errors" class="invalid-feedback">
                                <div *ngIf="submitted && f.messageBody.errors.required">Message Body is required</div>
                            </div>
                        </div>
                        <div class="form-group col-3">
                            <label for="deepLinkAction">Deep Link Action*</label>
                            <input type="text" formControlName="deepLinkAction" class="form-control form-control-sm"
                                [ngClass]="{ 'is-invalid': submitted && f.deepLinkAction.errors }" />
                            <div *ngIf="submitted && f.deepLinkAction.errors" class="invalid-feedback">
                                <div *ngIf="submitted && f.deepLinkAction.errors.required">Deep Link Action is required
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-3">
                            <label for="importanceLevel">Importance Level*</label>
                            <input type="number" formControlName="importanceLevel" class="form-control form-control-sm"
                                [ngClass]="{ 'is-invalid': submitted && f.importanceLevel.errors }" />
                            <div *ngIf="submitted && f.importanceLevel.errors" class="invalid-feedback">
                                <div *ngIf="submitted && f.importanceLevel.errors.required">Importance Level is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <button [disabled]="loading" class="btn btn-primary btn-sm">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Create
                    </button>
                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                </form>
            </div>
        </div>
    </div>
</div>